<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


    <header>
        <div>
            <h1>Health Tracker</h1>
        </div>
        <div>
            <nav>
                <ul>
                    <li><button><a href="/trackedlogs/new">Add Log</a></button></li>
                    <li><button><a href="/dashboard">Back to dashboard</a></button></li>
                </ul>
            </nav>
        </div>
    </header>


    <main>
        <% logs.forEach(log => { %>
        <div>
            <div>
                <h2><a href="/trackedlogs/<%= log._id %>"><%= log.activity %></a></h2>
            </div>
            <div>
                <p><%= log.createdAt %></p>
                <p>Meals: <%= log.meals %></p>
                <p>Weight: <%= log.weight %></p>
                <p>symptoms: <%= log.symptoms %></p>
            </div>
        </div>
        <div>
            <div>
                <button><a href="/trackedlogs/<%= log._id%>/edit">Edit</a></button>
            </div>
            <div>
                <form method="POST" action="/trackedlogs/<%= log._id %>?_method=DELETE">
                    <button type="submit" value="DELETE">Delete</button>
                </form>
            </div>
        </div>
        <hr>
        <% }); %>
    </main>

</body>

</html>